body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #191f25 0%, #1f1e31 100%);
}

.profile {
    color: white;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    border: 3px  solid rgba(136, 136, 136, 0.5);
    background: linear-gradient(135deg, #333f50 0%, #26253a 100%);
    padding: 20px;
    min-height: 6vh;
    display: flex;
    justify-content: center;
}

.profile .acc {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    width: 175px;
    border: 3px  solid rgba(136, 136, 136, 0.1);
    border-radius: 8px;
}

.profile .acc:hover {
    opacity: 0.5s;
    border: 3px  solid rgba(136, 136, 136, 0.5);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transform: scale(1.01);
}

.profile .acc img {
    border-radius: 50%;
    width: 50px;
}

.library {
    padding: 10px;
    height: 100vh;
    margin: auto;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.block {
    border: 3px  solid rgba(136, 136, 136, 0.5);
    border-radius: 8px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg, #333f50 0%, #26253a 100%);
}

.block h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.block h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.cards {
    width: 500px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.card {
    display: flex;
    height: 20vh;
    width: 10rem;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #6f73ad 0%, #3a74d1 100%);
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-5px);
}

.card .title {
    font-size: 36px;
    font-weight: bold;
}

.card .text {
    height: 100px;
    margin-bottom: 40px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
