.container_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;         
    width: 100%;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    width: 500px;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    background: linear-gradient(135deg, #6f73ad 0%, #3a74d1 100%);
}

.profile_info h1 {
    margin-bottom: 50px;
}

.profile_info .close {
    margin-top: 30px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    font-size: 26px;
    font-weight: bold;
    position: fixed;
    left: 64%;
    top: 12%;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.profile_info .close:hover {
    opacity: 1;
    transform: scale(1.05);
}

.logo img {
    border-radius: 50%;
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.container label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container input {
    border: 3px solid white;
    margin-top: -10px;
    padding: 10px;
    border-radius: 8px;
    color: black;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    width: 250px;
    text-align: center
}

.libraries {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.libraries button {
    margin-top: 30px;
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: bold;
}

.libraries button:hover {
    transform: scale(1.1);
}
